HISHAM KHALIL\
PIAIC252246\
ASSIGNMENT 2\
WEEK 3

In [ ]:


# TOPIC:  VARIABLES


print("Hiiiii.....THIS IS MY 3RD WEEK OF LEARNING PYTHON ... \nASSIGNMENT 2..\nWEEK 3")

name:str="HISHAM KHALIL"
age:int=18
city:str='OKARA'
height:float=5.8
fav_animal:str="CAT"
hobby:str="BIKE RIDING"
print(name)
print(age)
print(city)
print(height)
print(fav_animal)
print(hobby)
print(name, age, city, height, fav_animal, hobby)
print("My name is ", name , '\n' "I am ", age ,"years old",'\n' "I live in ", city ,'\n' "My favourite animal is", fav_animal)
print("My name is ", name ,  ". I am ", age ,"years old", ". I live in ", city , ". My hobby is ", hobby )

Hiiiii.....THIS IS MY 3RD WEEK OF LEARNING PYTHON ...
ASSIGNMENT 2..
WEEK 3
HISHAM KHALIL
18
OKARA
5.8
CAT
BIKE RIDING
HISHAM KHALIL 18 OKARA 5.8 CAT BIKE RIDING
My name is  HISHAM KHALIL
I am  18 years old
I live in  OKARA
My favourite animal is CAT
My name is  HISHAM KHALIL . I am  18 years old . I live in  OKARA . My hobby is  BIKE RIDING

In [ ]:
# ADDITIONAL TASK

a:int=int(input("Enter 1st number :"))
b:int=int(input("Enter 2st number :"))
SUM = a+b
DIFFERENCE = a-b
PRODUCT= a*b
DIVISION = a/b
REMAINDER = a%b
print("SUM =",SUM)
print("DIFFERENCE =",DIFFERENCE)
print("PRODUCT =",PRODUCT)
print("DIVISION =",DIVISION)
print("REMAINDER =",REMAINDER)

Enter 1st number :423
Enter 2st number :34
SUM = 457
DIFFERENCE = 389
PRODUCT = 14382
DIVISION = 12.441176470588236
REMAINDER = 15

In [ ]:
   #  DISCLAIMER

# I AMM WATCHINGGG YOOOOU KAAAAAAAAAAAAVIIIIII