Hisham khalil\
PIAIC252246\
Assignment 03

# **Part 1: Working with Variables, Input, and String**

**Q1: \
  Prompt for user input**

In [1]:
first_name=input("Enter Your First Name :")
last_name =input("Enter Your Second Name :")
full_name=f"{first_name} {last_name}"
print(f"{full_name}! Welcome to 3rd Python assignment")

hisham khalil! Welcome to 3rd Python assignment

**Q2: \
String methods**

In [2]:
print("Your Name In Upper Case :" , full_name.upper())
print("Your Name In Lower Case :" , full_name.lower())
print(len(full_name))
print(full_name.replace(" ","_"))
print(full_name.strip())

Your Name In Upper Case : HISHAM KHALIL
Your Name In Lower Case : hisham khalil
13
hisham_khalil
hisham khalil

**Q3:\
Type casting and numeric operations**

In [3]:
birth_year=int(input("Enter Your Birth Year :"))
current_year=2024
age=current_year - birth_year
print(f"You are approx {age} years old")

You are approx 18 years old

**Q3:(Alternative)**

In [4]:
age=int(input("Enter Your Age :"))
current_year=2024
birth_year=current_year-age
print(f"Your Birth Year is approx {birth_year}")

Your Birth Year is approx 2006

# **Part 2: Lists and Indexing**

****Q1:\
Create a list from user input****

In [5]:
fav_fruits = input("Enter your 5 fav fruits separated by a space: ")
fav_fruit_list=fav_fruits.split()
print(fav_fruit_list)

['mango', 'orange', 'peach', 'apple', 'grapes']

****Q2:\
List indexing and slicing****

In [7]:
fruits_list=[]

fruits_list.append("apple")
fruits_list.append("banana")
print("List of Appended fruits:", fruits_list)

fruits_list.insert(1, 'cherry')
print("list after inserting fruit:", fruits_list)

print(fruits_list[0:2])

List of Appended fruits: ['apple', 'banana']
list after inserting fruit: ['apple', 'cherry', 'banana']
['apple', 'cherry']

**Q3:\
List methods**

In [8]:
flist=["apple","mango","grapes"]

# APPEND METHOD
flist.append("cherry")
print(flist)

# REMOVE METHOD
flist.remove("grapes")
print(flist)

# POP METHOD
flist.pop(0)
print(flist)

['apple', 'mango', 'grapes', 'cherry']
['apple', 'mango', 'cherry']
['mango', 'cherry']

# **Part 3 (Optional Challenge): Combining Concepts**

**Q1:\
String & List Interaction**

In [9]:
myname="Hisham khalil"
full_name=myname.replace(" ","")

letterslist=list(full_name)
print(letterslist)

print(letterslist[:3]+letterslist[-3:])

['H', 'i', 's', 'h', 'a', 'm', 'k', 'h', 'a', 'l', 'i', 'l']
['H', 'i', 's', 'l', 'i', 'l']

**Q2:\
Manipulate and Reconstruct**

In [10]:
# Manipulate
mod_name1=full_name[:3].upper()+full_name[3:].lower()
print(mod_name1)
print(list(mod_name1))
# Reconstruct
print("".join(mod_name1))

HIShamkhalil
['H', 'I', 'S', 'h', 'a', 'm', 'k', 'h', 'a', 'l', 'i', 'l']
HIShamkhalil

**Q3:\
Simple Arithmetic on a List of Numbers**

In [12]:
numbers=input("Enter 5 numbers separated by spaces: ")
numbers_list=list(map(int, numbers.split()))
adding_numbers=sum(numbers_list)
average=adding_numbers/len(numbers_list)

print(f"list of input numbers :{numbers_list}")
print(f"sum :{adding_numbers}")
print(f"Average : {average}")

list of input numbers :[324, 34, 54, 45, 45]
sum :502
Average : 100.4

# **Part 4: Additional Questions & Mini-Challenges**

In [13]:
flist=[]

flist.append("kiwi")
flist.append("apple")
flist.append("orange")
flist.append("banana")

print(flist)
longest_fname=max(flist, key=len)
print ("longest fruit name:", longest_fname)

shortest_fname=min(flist, key=len)
print ("Shortest fruit name:", shortest_fname)



question =input("Question: Do you want to sort your list: ").lower().strip()
print(question)

if question == "yes":
   print("The fruit list is sorted.")
   flist.sort()
   print(flist)
elif question == "no":

   print("The fruit list remains unsorted.")
   print(flist)

else:
  print('''invalid input
       Try valid input(yes/no)''')

['kiwi', 'apple', 'orange', 'banana']
longest fruit name: orange
Shortest fruit name: kiwi
yes
The fruit list is sorted.
['apple', 'banana', 'kiwi', 'orange']

**Q2:\
Searching in the Fruit List**

In [14]:
print(flist)
fname=input("Enter name of a fruit: ")
if fname in flist:
  index=flist.index(fname)
  print(f"Yes, {fname} is in the list at {index + 1} place  [index: {index}]")

else:
   fname not in flist
   print(f"No, {fname} is not in the list")

['apple', 'banana', 'kiwi', 'orange']
Yes, kiwi is in the list at 3 place  [index: 2]

**Q3:\
Name Palindrome Check (String Manipulation)**

In [15]:
word=input("enter word without space: ").lower().strip()

if word==word[::-1]:
   print(f"The word '{word}' is a palindrome")

else:
   print(f"The word '{word}' is not a palindrome")

The word 'motom' is a palindrome

**Q4:\
Enhanced Number Operations**

In [16]:


numbers = input("enter 5 numbers: ")
numbers_list = list(map(int, numbers.split()))

if len(numbers_list) != 5:
    print("Please enter exactly 5 numbers separated by spaces.")
else:
    print(numbers_list)
    biggest_num = max(numbers_list)
    smallest_num = min(numbers_list)
    print("biggest num: ", biggest_num)
    print("smallest num: ", smallest_num)

    product=numbers_list[0] * numbers_list[1] * numbers_list[2] * numbers_list[3] * numbers_list[4]
    print("product: ", product)

[34, 34, 4, 5, 56]
biggest num:  56
smallest num:  4
product:  1294720